@inherits DisplayToDoItemsBase
@using BootstrapBlazor.Components
@using ToDo.Web.Pages.ToDoItemPages.Modals

@{
    string directionUp = "up";
    string directionDown = "down";
}

<div class="row flex-xl-row flex-column">
    @foreach (Api.Shared.Enums.ToDoItemStatus status in Enum.GetValues(typeof(Api.Shared.Enums.ToDoItemStatus)))
    {
        <div class="col border border-2 rounded my-1 mx-xl-1">
            <div class="border border-2 rounded my-2">
                <p class="p-2 mb-0 fs-6 text-white">@status</p>
            </div>
            @foreach (var item in FilteredStatus(status))
            {
                <Card IsCollapsible="true" class="mb-2" HeaderText="@item.Name" Collapsed="true" IsShadow="true">
                    <BodyTemplate>
                        <div class="fw-bold mb-2">
                            @item.Description
                        </div>
                        <div>
                            <div>
                                <span class="text-secondary">Status new:</span> @item.StatusNew
                            </div>
                            <div>
                                <span class="text-secondary">Status in progress</span> @item.StatusInProgress
                            </div>
                            <div>
                                <span class="text-secondary">Completed:</span> @item.StatusCompleted
                            </div>
                        </div>
                    </BodyTemplate>
                    <FooterTemplate>
                        <div class="d-flex justify-content-between gap-2">
                            <div class="">
                                <button class="btn btn-danger" @onclick="() => OpenDeleteDialog(item)">Delete</button>
                                <a href="EditToDoItem/@item.Id" class="btn btn-info">Edit</a>
                            </div>
                            <div class="d-flex justify-content-between gap-2">
                                @if (item.Status != Api.Shared.Enums.ToDoItemStatus.New)
                                {
                                    <h4 class="m-0"><a class="btn-sm btn btn-outline-danger" @onclick="() => ChangeStatus(item.Id, directionDown)">Undo</a></h4>
                                }
                                @if (item.Status == Api.Shared.Enums.ToDoItemStatus.InProgress)
                                {
                                    <h4 class="m-0"><a class="btn-sm btn btn-success" @onclick="() => ChangeStatus(item.Id, directionUp)">Complete</a></h4>
                                }
                                @if (item.Status == Api.Shared.Enums.ToDoItemStatus.New)
                                {
                                    <h4 class="m-0"><a class="btn-sm btn btn-outline-success" @onclick="() => ChangeStatus(item.Id, directionUp)">Start TODO</a></h4>
                                }
                            </div>
                        </div>
                    </FooterTemplate>
                </Card>
            }
        </div>
    }
</div>
@if (DeleteDialogOpen)
{
    <DeleteItemModal OnClose="@OnDeleteDialogClose" />
}